{% extends "base.html" %}
{% block head %}
  <meta name="description" content="About Sublearning - Learn languages from movie subtitles in 62 languages for free">
  <title>About Sublearning - Learn languages for free from movie subtitles</title>
{% endblock %}
{% block content %}
<p>
 <br><h1><font size="5">
  Sublearning is a flash card learning site for learning languages using movie/show subtitles. It has subtitles in 62 languages with 3106 combinations of these languages.
</font></h1>
<br>
</p>
<p>
</p>
<p>
  <h4>

  Once you select two languages, sublearning will display a line from a random subtitle. You should try and guess what the translation for that line is. Then click show answer to reveal the equivalent line in the second language.
</h4>
</p>
<br>
<p>
  Source data attributed to:<br>
  Pierre Lison and Jörg Tiedemann, 2016, OpenSubtitles2016: Extracting Large Parallel Corpora from Movie and TV Subtitles. In Proceedings of the 10th International Conference on Language Resources and Evaluation (LREC 2016)
  <br>
  <a href="http://opus.lingfil.uu.se/OpenSubtitles2016.php">OpenSubtitles2016</a>
</p>
<p>
  Website code: <a href="https://github.com/mickrideout/sub-learning-web">https://github.com/mickrideout/sub-learning-web</a>
  <br>
  Subtitle data transform: <a href="https://github.com/mickrideout/OpenSubtitlesParallelCorpusToDB">https://github.com/mickrideout/OpenSubtitlesParallelCorpusToDB</a>
</p>

<p>
<br>
<h3>Useful Tools</h3>
<b>Ask Any AI Chatbot</b> - An android app that easily allows switching between the best AI Chatbots, instead of installing multiple apps.
Chatbots include: ChatGPT, Gemini, Perplexity AI, Microsoft Copilot, Claude, Llama2, HuggingChat, Minstral. Down <a href="https://play.google.com/store/apps/details?id=com.backproplabs.ask_any_ai_chatbot">free</a> or <a href="https://play.google.com/store/apps/details?id=com.backproplabs.ask_any_ai_chatbot.paid">ad free</a> version.
{% endblock %}
